# ── Agent ─────────────────────────────────────────────────────────
AGENT_NAME=
# Default 9090, change if needed
AGENT_PORT=9090
# Leave as "auto" to detect LAN IP automatically, or set a fixed IP.
AGENT_IP=auto

# ── Nexus Connection ──────────────────────────────────────────────
AGENT_NEXUS_URL=

# ── UI Credentials ────────────────────────────────────────────────
AGENT_UI_USERNAME=
AGENT_UI_PASSWORD=

# ── JWT ───────────────────────────────────────────────────────────
# Can leave as "auto". Secret, if not present, it is generated and saved here on first launch.
AGENT_JWT_SECRET=auto

# ── Upload Limits ─────────────────────────────────────────────────
# -1 = unlimited. Set in MB -> 100MB
MULTIPART_ENABLED=true
MULTIPART_MAX_FILE_SIZE=100MB
MULTIPART_MAX_REQUEST_SIZE=100MB
MULTIPART_FILE_SIZE_THRESHOLD=2MB